@font-face {
    font-family: 'concourse-text';
    src: url('concourse_t2_bold_italic-webfont.eot');
    src: url('concourse_t2_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('concourse_t2_bold_italic-webfont.woff') format('woff'),
         url('concourse_t2_bold_italic-webfont.ttf') format('truetype'),
         url('concourse_t2_bold_italic-webfont.svg#concourse_t2bold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'concourse-text';
    src: url('concourse_t2_bold-webfont.eot');
    src: url('concourse_t2_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('concourse_t2_bold-webfont.woff') format('woff'),
         url('concourse_t2_bold-webfont.ttf') format('truetype'),
         url('concourse_t2_bold-webfont.svg#concourse_t2bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'concourse-text';
    src: url('concourse_t2_italic-webfont.eot');
    src: url('concourse_t2_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('concourse_t2_italic-webfont.woff') format('woff'),
         url('concourse_t2_italic-webfont.ttf') format('truetype'),
         url('concourse_t2_italic-webfont.svg#concourse_t2italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'concourse-text';
    src: url('concourse_t2_regular-webfont.eot');
    src: url('concourse_t2_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('concourse_t2_regular-webfont.woff') format('woff'),
         url('concourse_t2_regular-webfont.ttf') format('truetype'),
         url('concourse_t2_regular-webfont.svg#concourse_t2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
