@font-face {
    font-family: 'concourse-caps';
    src: url('concourse_c6_regular-webfont.eot');
    src: url('concourse_c6_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('concourse_c6_regular-webfont.woff') format('woff'),
         url('concourse_c6_regular-webfont.ttf') format('truetype'),
         url('concourse_c6_regular-webfont.svg#concourse_c6regular') format('svg');
    font-weight: normal;
    font-style: normal;
}